<%- include("../commons/header") -%>

<!--Navbar -->
<%- include("../commons/navbar") -%>

<div class="container">
    <%- include("../commons/movie_details") -%>
    <%- include("../forms/comment") -%>

    <% comment_list.forEach((_comment) => { %>
        <%- include("../commons/comment.ejs", {comment: {
                header: _comment._author.username,
                header_href: `/user/${_comment._author._id}`,
                content: _comment.content,
                comment_id: _comment._id,
        }}) -%>
    <% }); %>
    
    <%#- include("../commons/comment") -%>
</div>


<%- include("../commons/footer") -%>